<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.project.mapper.BookMapper">
    <!--实体映射-->
    <resultMap id="base_result_map" type="com.jl.project.entity.po.Book">
        <!-- ID -->
        <id column="id" property="id"/>
        <!-- 用户ID -->
        <result column="user_id" property="userId"/>
        <!-- 题目ID -->
        <result column="qu_id" property="quId"/>
        <!-- 题目内容 -->
        <result column="qu_content" property="quContent"/>
        <!-- 学科id -->
        <result column="subject_id" property="subjectId"/>
        <!-- 答错次数 -->
        <result column="wrong_count" property="wrongCount"/>
        <!-- 题型 -->
        <result column="qu_type" property="quType"/>
        <!-- 知识点内容 -->
        <result column="kn_content" property="knContent"/>
    </resultMap>
    <!--通用查询列-->
    <sql id="base_column_list">
        id
        ,user_id,qu_id,qu_content,subject_id,wrong_count,qu_type,kn_content
    </sql>
    <!--基础查询条件-->
    <sql id="base_query_condition">
        <if test="query.id != null and query.id!= ''">
            and id = #{query.id}
        </if>
        <if test="query.userId != null and query.userId!= ''">
            and user_id = #{query.userId}
        </if>
        <if test="query.quId != null and query.quId!= ''">
            and qu_id = #{query.quId}
        </if>
        <if test="query.quContent != null and query.quContent!= ''">
            and qu_content = #{query.quContent}
        </if>
        <if test="query.subjectId != null and query.subjectId!= ''">
            and subject_id = #{query.subjectId}
        </if>
        <if test="query.wrongCount != null">
            and wrong_count = #{query.wrongCount}
        </if>
        <if test="query.quType != null">
            and qu_type = #{query.quType}
        </if>
        <if test="query.knContent != null and query.knContent!= ''">
            and kn_content = #{query.knContent}
        </if>
    </sql>
    <!--扩展查询条件-->
    <sql id="base_query_condition_extend">
        <if test="query.idFuzzy != null and query.idFuzzy != '' ">
            and id like concat('%', #{query.idFuzzy}, '%')
        </if>
        <if test="query.userIdFuzzy != null and query.userIdFuzzy != '' ">
            and user_id like concat('%', #{query.userIdFuzzy}, '%')
        </if>
        <if test="query.quIdFuzzy != null and query.quIdFuzzy != '' ">
            and qu_id like concat('%', #{query.quIdFuzzy}, '%')
        </if>
        <if test="query.quContentFuzzy != null and query.quContentFuzzy != '' ">
            and qu_content like concat('%', #{query.quContentFuzzy}, '%')
        </if>
        <if test="query.subjectIdFuzzy != null and query.subjectIdFuzzy != '' ">
            and subject_id like concat('%', #{query.subjectIdFuzzy}, '%')
        </if>
        <if test="query.knContentFuzzy != null and query.knContentFuzzy != '' ">
            and kn_content like concat('%', #{query.knContentFuzzy}, '%')
        </if>
    </sql>
    <!--通用查询条件-->
    <sql id="query_condition">
        <where>
            <include refid="base_query_condition"/>
            <include refid="base_query_condition_extend"/>
        </where>
    </sql>
    <!--查询列表-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM book
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.OrderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>
    <!--查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM book
        <include refid="query_condition"/>
    </select>
    <!--插入（匹配有值的字段）-->
    <insert id="insert" parameterType="com.jl.project.entity.po.Book">

        INSERT INTO book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.id != null">
                id,
            </if>
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.quId != null">
                qu_id,
            </if>
            <if test="bean.quContent != null">
                qu_content,
            </if>
            <if test="bean.subjectId != null">
                subject_id,
            </if>
            <if test="bean.wrongCount != null">
                wrong_count,
            </if>
            <if test="bean.quType != null">
                qu_type,
            </if>
            <if test="bean.knContent != null">
                kn_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.id != null">
                #{bean.id},
            </if>
            <if test="bean.userId != null">
                #{bean.userId},
            </if>
            <if test="bean.quId != null">
                #{bean.quId},
            </if>
            <if test="bean.quContent != null">
                #{bean.quContent},
            </if>
            <if test="bean.subjectId != null">
                #{bean.subjectId},
            </if>
            <if test="bean.wrongCount != null">
                #{bean.wrongCount},
            </if>
            <if test="bean.quType != null">
                #{bean.quType},
            </if>
            <if test="bean.knContent != null">
                #{bean.knContent},
            </if>
        </trim>
    </insert>

    <!--插入（匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="com.jl.project.entity.po.Book">
        INSERT INTO book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.id != null">
                id,
            </if>
            <if test="bean.userId != null">
                user_id,
            </if>
            <if test="bean.quId != null">
                qu_id,
            </if>
            <if test="bean.quContent != null">
                qu_content,
            </if>
            <if test="bean.subjectId != null">
                subject_id,
            </if>
            <if test="bean.wrongCount != null">
                wrong_count,
            </if>
            <if test="bean.quType != null">
                qu_type,
            </if>
            <if test="bean.knContent != null">
                kn_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.id != null">
                #{bean.id},
            </if>
            <if test="bean.userId != null">
                #{bean.userId},
            </if>
            <if test="bean.quId != null">
                #{bean.quId},
            </if>
            <if test="bean.quContent != null">
                #{bean.quContent},
            </if>
            <if test="bean.subjectId != null">
                #{bean.subjectId},
            </if>
            <if test="bean.wrongCount != null">
                #{bean.wrongCount},
            </if>
            <if test="bean.quType != null">
                #{bean.quType},
            </if>
            <if test="bean.knContent != null">
                #{bean.knContent},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.userId != null">
                user_id= VALUES(user_id),
            </if>
            <if test="bean.quId != null">
                qu_id= VALUES(qu_id),
            </if>
            <if test="bean.quContent != null">
                qu_content= VALUES(qu_content),
            </if>
            <if test="bean.subjectId != null">
                subject_id= VALUES(subject_id),
            </if>
            <if test="bean.wrongCount != null">
                wrong_count= VALUES(wrong_count),
            </if>
            <if test="bean.quType != null">
                qu_type= VALUES(qu_type),
            </if>
            <if test="bean.knContent != null">
                kn_content= VALUES(kn_content),
            </if>
        </trim>
    </insert>

    <!--添加（批量插入）-->
    <insert id="insertBatch" parameterType="com.jl.project.entity.po.Book">
        INSERT INTO book(id,user_id,qu_id,qu_content,subject_id,wrong_count,qu_type,kn_content)values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.userId},#{item.quId},#{item.quContent},#{item.subjectId},#{item.wrongCount},#{item.quType},#{item.knContent})
        </foreach>
    </insert>

    <!--批量插入或更新-->
    <insert id="insertOrUpdateBatch" parameterType="com.jl.project.entity.po.Book">
        INSERT INTO
        book(id,user_id,qu_id,qu_content,subject_id,wrong_count,qu_type,kn_content)values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.userId},#{item.quId},#{item.quContent},#{item.subjectId},#{item.wrongCount},#{item.quType},#{item.knContent})
        </foreach>
        on DUPLICATE key update id= VALUES(id),user_id= VALUES(user_id),qu_id= VALUES(qu_id),qu_content=
        VALUES(qu_content),subject_id= VALUES(subject_id),wrong_count= VALUES(wrong_count),qu_type=
        VALUES(qu_type),kn_content= VALUES(kn_content)
    </insert>


    <!--根据Id查询-->
    <select id="selectById" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from book where id=#{id}
    </select>

    <!--根据Id更新-->
    <update id="updateById" parameterType="com.jl.project.entity.po.Book">
        update book
        <set>
            <if test="bean.id != null">
                id = #{bean.id},
            </if>
            <if test="bean.userId != null">
                user_id = #{bean.userId},
            </if>
            <if test="bean.quId != null">
                qu_id = #{bean.quId},
            </if>
            <if test="bean.quContent != null">
                qu_content = #{bean.quContent},
            </if>
            <if test="bean.subjectId != null">
                subject_id = #{bean.subjectId},
            </if>
            <if test="bean.wrongCount != null">
                wrong_count = #{bean.wrongCount},
            </if>
            <if test="bean.quType != null">
                qu_type = #{bean.quType},
            </if>
            <if test="bean.knContent != null">
                kn_content = #{bean.knContent},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据Id删除-->
    <delete id="deleteById">
        delete
        from book
        where id = #{id}
    </delete>

    <!-- 查询指定用户集合的错题记录 -->
    <select id="getBookListByUserIds" resultType="com.jl.project.entity.po.Book">
        SELECT * FROM book
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <!-- 根据知识点分类获取前五的错题知识点 -->
    <select id="selectByKnowledge" resultType="com.jl.project.entity.vo.ChartVO">
        SELECT kn_content as name, SUM(wrong_count) AS value
        FROM book
        GROUP BY kn_content
        ORDER BY value DESC
            LIMIT 5
    </select>
    <!-- 分类每个题型中每个知识点的错题总和 -->
    <select id="selectWrongCountSummary" resultType="com.jl.project.entity.vo.WrongCountSummaryVO">
        SELECT qu_type, kn_content, SUM(wrong_count) as total_wrong_count
        FROM book
        GROUP BY qu_type, kn_content;
    </select>
    <!-- 获取错题的知识点列表 -->
    <select id="selectKnContentList" resultType="java.lang.String">
        SELECT DISTINCT kn_content
        FROM book
    </select>



    <!-- 获取知识点列表数量 -->
    <select id="selectErrorCountNumByUserList" resultType="java.lang.Integer">
        SELECT count(*) FROM book WHERE user_id IN
        <foreach item="user" index="index" collection="userList" open="(" separator="," close=")">
            #{user.id}
        </foreach>
    </select>


    <!-- 根据用户列表获取错题列表 -->
    <select id="selectErrorCountByUserList" resultType="com.jl.project.entity.po.Book">
        SELECT * FROM book WHERE user_id IN
        <foreach item="user" index="index" collection="userList" open="(" separator="," close=")">
            #{user.id}
        </foreach>
        <!-- 当结果不为空时，执行以下语句 -->
        <if test="query.simplePage!=null">
            LIMIT #{query.simplePage.start}, #{query.simplePage.end}
        </if>

    </select>


</mapper>

