<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.project.mapper.GroupListMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.jl.project.entity.po.GroupList">
		<!-- ID -->
		<id column="id" property="id"/>
		<!-- 所属试卷ID -->
		<result column="paper_id" property="paperId"/>
		<!-- 题型 -->
		<result column="qu_type" property="quType"/>
		<!-- 标题 -->
		<result column="title" property="title"/>
		<!-- 总分 -->
		<result column="total_score" property="totalScore"/>
		<!-- 每个小题的分数（当每个题目给定分数的时候。可以不用） -->
		<result column="per_score" property="perScore"/>
		<!-- 选项是否乱序0:否1:是 -->
		<result column="item_rand" property="itemRand"/>
		<!-- 题目是否乱序0:否1:是 -->
		<result column="qu_rand" property="quRand"/>
		<!-- 题目总数 -->
		<result column="qu_count" property="quCount"/>
	</resultMap>
	<!--通用查询列-->
	<sql id="base_column_list">
		id,paper_id,qu_type,title,total_score,per_score,item_rand,qu_rand,qu_count
	</sql>
	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id != null and query.id!= ''">
			and id = #{query.id}
		</if>
		<if test="query.paperId != null and query.paperId!= ''">
			and paper_id = #{query.paperId}
		</if>
		<if test="query.quType != null">
			and qu_type = #{query.quType}
		</if>
		<if test="query.title != null and query.title!= ''">
			and title = #{query.title}
		</if>
		<if test="query.totalScore != null">
			and total_score = #{query.totalScore}
		</if>
		<if test="query.perScore != null">
			and per_score = #{query.perScore}
		</if>
		<if test="query.itemRand != null">
			and item_rand = #{query.itemRand}
		</if>
		<if test="query.quRand != null">
			and qu_rand = #{query.quRand}
		</if>
		<if test="query.quCount != null">
			and qu_count = #{query.quCount}
		</if>
	</sql>
	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.idFuzzy != null and query.idFuzzy != '' ">
			and id like concat('%', #{query.idFuzzy}, '%')
		</if>
		<if test="query.paperIdFuzzy != null and query.paperIdFuzzy != '' ">
			and paper_id like concat('%', #{query.paperIdFuzzy}, '%')
		</if>
		<if test="query.titleFuzzy != null and query.titleFuzzy != '' ">
			and title like concat('%', #{query.titleFuzzy}, '%')
		</if>
	</sql>
	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>
	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM group_list
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
			order by ${query.orderBy} ${query.sequence}
		</if>
		<if test="query.simplePage!=null">
			limit #{query.simplePage.start},#{query.simplePage.end}
		</if>
	</select>
	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM group_list
		<include refid="query_condition"/>
	</select>
	<!--插入（匹配有值的字段）-->
	<insert id="insert" parameterType="com.jl.project.entity.po.GroupList">

		INSERT INTO group_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.paperId != null">
				paper_id,
			</if>
			<if test="bean.quType != null">
				qu_type,
			</if>
			<if test="bean.title != null">
				title,
			</if>
			<if test="bean.totalScore != null">
				total_score,
			</if>
			<if test="bean.perScore != null">
				per_score,
			</if>
			<if test="bean.itemRand != null">
				item_rand,
			</if>
			<if test="bean.quRand != null">
				qu_rand,
			</if>
			<if test="bean.quCount != null">
				qu_count,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.paperId != null">
				#{bean.paperId},
			</if>
			<if test="bean.quType != null">
				#{bean.quType},
			</if>
			<if test="bean.title != null">
				#{bean.title},
			</if>
			<if test="bean.totalScore != null">
				#{bean.totalScore},
			</if>
			<if test="bean.perScore != null">
				#{bean.perScore},
			</if>
			<if test="bean.itemRand != null">
				#{bean.itemRand},
			</if>
			<if test="bean.quRand != null">
				#{bean.quRand},
			</if>
			<if test="bean.quCount != null">
				#{bean.quCount},
			</if>
		</trim>
	</insert>

	<!--插入（匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.jl.project.entity.po.GroupList">
		INSERT INTO group_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.paperId != null">
				paper_id,
			</if>
			<if test="bean.quType != null">
				qu_type,
			</if>
			<if test="bean.title != null">
				title,
			</if>
			<if test="bean.totalScore != null">
				total_score,
			</if>
			<if test="bean.perScore != null">
				per_score,
			</if>
			<if test="bean.itemRand != null">
				item_rand,
			</if>
			<if test="bean.quRand != null">
				qu_rand,
			</if>
			<if test="bean.quCount != null">
				qu_count,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.paperId != null">
				#{bean.paperId},
			</if>
			<if test="bean.quType != null">
				#{bean.quType},
			</if>
			<if test="bean.title != null">
				#{bean.title},
			</if>
			<if test="bean.totalScore != null">
				#{bean.totalScore},
			</if>
			<if test="bean.perScore != null">
				#{bean.perScore},
			</if>
			<if test="bean.itemRand != null">
				#{bean.itemRand},
			</if>
			<if test="bean.quRand != null">
				#{bean.quRand},
			</if>
			<if test="bean.quCount != null">
				#{bean.quCount},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.paperId != null">
				paper_id= VALUES(paper_id),
			</if>
			<if test="bean.quType != null">
				qu_type= VALUES(qu_type),
			</if>
			<if test="bean.title != null">
				title= VALUES(title),
			</if>
			<if test="bean.totalScore != null">
				total_score= VALUES(total_score),
			</if>
			<if test="bean.perScore != null">
				per_score= VALUES(per_score),
			</if>
			<if test="bean.itemRand != null">
				item_rand= VALUES(item_rand),
			</if>
			<if test="bean.quRand != null">
				qu_rand= VALUES(qu_rand),
			</if>
			<if test="bean.quCount != null">
				qu_count= VALUES(qu_count),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.jl.project.entity.po.GroupList">
		INSERT INTO group_list(id,paper_id,qu_type,title,total_score,per_score,item_rand,qu_rand,qu_count)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.paperId},#{item.quType},#{item.title},#{item.totalScore},#{item.perScore},#{item.itemRand},#{item.quRand},#{item.quCount})
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.jl.project.entity.po.GroupList">
		INSERT INTO 
		group_list(id,paper_id,qu_type,title,total_score,per_score,item_rand,qu_rand,qu_count)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.paperId},#{item.quType},#{item.title},#{item.totalScore},#{item.perScore},#{item.itemRand},#{item.quRand},#{item.quCount})
		</foreach>
			on DUPLICATE key update id= VALUES(id),paper_id= VALUES(paper_id),qu_type= VALUES(qu_type),title= VALUES(title),total_score= VALUES(total_score),per_score= VALUES(per_score),item_rand= VALUES(item_rand),qu_rand= VALUES(qu_rand),qu_count= VALUES(qu_count)
	</insert>


	<!--根据Id查询-->
	<select id="selectById" resultMap="base_result_map">
		select 
		<include refid="base_column_list"/>
		from group_list where id=#{id}
	</select>

	<!--根据Id更新-->
	<update id="updateById" parameterType="com.jl.project.entity.po.GroupList">
		update group_list
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.paperId != null">
				paper_id = #{bean.paperId},
			</if>
			<if test="bean.quType != null">
				qu_type = #{bean.quType},
			</if>
			<if test="bean.title != null">
				title = #{bean.title},
			</if>
			<if test="bean.totalScore != null">
				total_score = #{bean.totalScore},
			</if>
			<if test="bean.perScore != null">
				per_score = #{bean.perScore},
			</if>
			<if test="bean.itemRand != null">
				item_rand = #{bean.itemRand},
			</if>
			<if test="bean.quRand != null">
				qu_rand = #{bean.quRand},
			</if>
			<if test="bean.quCount != null">
				qu_count = #{bean.quCount},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--根据Id删除-->
	<delete id="deleteById">
		delete from group_list where id=#{id}
	</delete>
</mapper>

