<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.project.mapper.LogMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.jl.project.entity.po.Log">
		<!-- ID -->
		<id column="id" property="id"/>
		<!-- 用户ID -->
		<result column="user_id" property="userId"/>
		<!-- 用户请求数据 -->
		<result column="data" property="data"/>
		<!-- 请求地址 -->
		<result column="url" property="url"/>
		<!-- 用户IP -->
		<result column="ip" property="ip"/>
		<!-- 是否成功 -->
		<result column="success" property="success"/>
		<!-- 创建时间 -->
		<result column="create_time" property="createTime"/>
		<!-- 日志类型 -->
		<result column="log_type" property="logType"/>
	</resultMap>
	<!--通用查询列-->
	<sql id="base_column_list">
		id,user_id,data,url,ip,success,create_time,log_type
	</sql>
	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id != null and query.id!= ''">
			and id = #{query.id}
		</if>
		<if test="query.userId != null and query.userId!= ''">
			and user_id = #{query.userId}
		</if>
		<if test="query.data != null and query.data!= ''">
			and data = #{query.data}
		</if>
		<if test="query.url != null and query.url!= ''">
			and url = #{query.url}
		</if>
		<if test="query.ip != null and query.ip!= ''">
			and ip = #{query.ip}
		</if>
		<if test="query.success != null">
			and success = #{query.success}
		</if>
		<if test="query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query.logType != null and query.logType!= ''">
			and log_type = #{query.logType}
		</if>
	</sql>
	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.idFuzzy != null and query.idFuzzy != '' ">
			and id like concat('%', #{query.idFuzzy}, '%')
		</if>
		<if test="query.userIdFuzzy != null and query.userIdFuzzy != '' ">
			and user_id like concat('%', #{query.userIdFuzzy}, '%')
		</if>
		<if test="query.dataFuzzy != null and query.dataFuzzy != '' ">
			and data like concat('%', #{query.dataFuzzy}, '%')
		</if>
		<if test="query.urlFuzzy != null and query.urlFuzzy != '' ">
			and url like concat('%', #{query.urlFuzzy}, '%')
		</if>
		<if test="query.ipFuzzy != null and query.ipFuzzy != '' ">
			and ip like concat('%', #{query.ipFuzzy}, '%')
		</if>
		<if test="query.createTimeStart != null and query.createTimeStart != '' ">
			<![CDATA[ and create_time >= str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.createTimeEnd != null and query.createTimeEnd != '' ">
			<![CDATA[ and create_time < data_sub(str_to_date(#{query.createTimeEnd}, '%Y-%m-%d'), interval -1 day) ]]>
		</if>
		<if test="query.logTypeFuzzy != null and query.logTypeFuzzy != '' ">
			and log_type like concat('%', #{query.logTypeFuzzy}, '%')
		</if>
	</sql>
	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>
	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM log
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
			order by ${query.OrderBy}
		</if>
		<if test="query.simplePage!=null">
			limit #{query.simplePage.start},#{query.simplePage.end}
		</if>
	</select>
	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM log
		<include refid="query_condition"/>
	</select>
	<!--插入（匹配有值的字段）-->
	<insert id="insert" parameterType="com.jl.project.entity.po.Log">

		INSERT INTO log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.data != null">
				data,
			</if>
			<if test="bean.url != null">
				url,
			</if>
			<if test="bean.ip != null">
				ip,
			</if>
			<if test="bean.success != null">
				success,
			</if>
			<if test="bean.createTime != null">
				create_time,
			</if>
			<if test="bean.logType != null">
				log_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.data != null">
				#{bean.data},
			</if>
			<if test="bean.url != null">
				#{bean.url},
			</if>
			<if test="bean.ip != null">
				#{bean.ip},
			</if>
			<if test="bean.success != null">
				#{bean.success},
			</if>
			<if test="bean.createTime != null">
				#{bean.createTime},
			</if>
			<if test="bean.logType != null">
				#{bean.logType},
			</if>
		</trim>
	</insert>

	<!--插入（匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.jl.project.entity.po.Log">
		INSERT INTO log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.data != null">
				data,
			</if>
			<if test="bean.url != null">
				url,
			</if>
			<if test="bean.ip != null">
				ip,
			</if>
			<if test="bean.success != null">
				success,
			</if>
			<if test="bean.createTime != null">
				create_time,
			</if>
			<if test="bean.logType != null">
				log_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.data != null">
				#{bean.data},
			</if>
			<if test="bean.url != null">
				#{bean.url},
			</if>
			<if test="bean.ip != null">
				#{bean.ip},
			</if>
			<if test="bean.success != null">
				#{bean.success},
			</if>
			<if test="bean.createTime != null">
				#{bean.createTime},
			</if>
			<if test="bean.logType != null">
				#{bean.logType},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id= VALUES(user_id),
			</if>
			<if test="bean.data != null">
				data= VALUES(data),
			</if>
			<if test="bean.url != null">
				url= VALUES(url),
			</if>
			<if test="bean.ip != null">
				ip= VALUES(ip),
			</if>
			<if test="bean.success != null">
				success= VALUES(success),
			</if>
			<if test="bean.createTime != null">
				create_time= VALUES(create_time),
			</if>
			<if test="bean.logType != null">
				log_type= VALUES(log_type),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.jl.project.entity.po.Log">
		INSERT INTO log(id,user_id,data,url,ip,success,create_time,log_type)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.userId},#{item.data},#{item.url},#{item.ip},#{item.success},#{item.createTime},#{item.logType})
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.jl.project.entity.po.Log">
		INSERT INTO 
		log(id,user_id,data,url,ip,success,create_time,log_type)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.userId},#{item.data},#{item.url},#{item.ip},#{item.success},#{item.createTime},#{item.logType})
		</foreach>
			on DUPLICATE key update id= VALUES(id),user_id= VALUES(user_id),data= VALUES(data),url= VALUES(url),ip= VALUES(ip),success= VALUES(success),create_time= VALUES(create_time),log_type= VALUES(log_type)
	</insert>


	<!--根据Id查询-->
	<select id="selectById" resultMap="base_result_map">
		select 
		<include refid="base_column_list"/>
		from log where id=#{id}
	</select>

	<!--根据Id更新-->
	<update id="updateById" parameterType="com.jl.project.entity.po.Log">
		update log
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.data != null">
				data = #{bean.data},
			</if>
			<if test="bean.url != null">
				url = #{bean.url},
			</if>
			<if test="bean.ip != null">
				ip = #{bean.ip},
			</if>
			<if test="bean.success != null">
				success = #{bean.success},
			</if>
			<if test="bean.createTime != null">
				create_time = #{bean.createTime},
			</if>
			<if test="bean.logType != null">
				log_type = #{bean.logType},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--根据Id删除-->
	<delete id="deleteById">
		delete from log where id=#{id}
	</delete>
</mapper>

