<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.project.mapper.MsgMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.jl.project.entity.po.Msg">
		<!-- ID -->
		<id column="id" property="id"/>
		<!-- 模板ID -->
		<result column="templ_id" property="templId"/>
		<!-- 标题 -->
		<result column="title" property="title"/>
		<!-- 消息内容 -->
		<result column="content" property="content"/>
		<!-- 发送人数 -->
		<result column="send_count" property="sendCount"/>
		<!-- 已读人数 -->
		<result column="read_count" property="readCount"/>
		<!-- 发送时间 -->
		<result column="send_time" property="sendTime"/>
		<!-- 状态 -->
		<result column="state" property="state"/>
	</resultMap>
	<!--通用查询列-->
	<sql id="base_column_list">
		id,templ_id,title,content,send_count,read_count,send_time,state
	</sql>
	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id != null and query.id!= ''">
			and id = #{query.id}
		</if>
		<if test="query.templId != null and query.templId!= ''">
			and templ_id = #{query.templId}
		</if>
		<if test="query.title != null and query.title!= ''">
			and title = #{query.title}
		</if>
		<if test="query.content != null and query.content!= ''">
			and content = #{query.content}
		</if>
		<if test="query.sendCount != null">
			and send_count = #{query.sendCount}
		</if>
		<if test="query.readCount != null">
			and read_count = #{query.readCount}
		</if>
		<if test="query.sendTime != null">
			and send_time = #{query.sendTime}
		</if>
		<if test="query.state != null">
			and state = #{query.state}
		</if>
	</sql>
	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.idFuzzy != null and query.idFuzzy != '' ">
			and id like concat('%', #{query.idFuzzy}, '%')
		</if>
		<if test="query.templIdFuzzy != null and query.templIdFuzzy != '' ">
			and templ_id like concat('%', #{query.templIdFuzzy}, '%')
		</if>
		<if test="query.titleFuzzy != null and query.titleFuzzy != '' ">
			and title like concat('%', #{query.titleFuzzy}, '%')
		</if>
		<if test="query.contentFuzzy != null and query.contentFuzzy != '' ">
			and content like concat('%', #{query.contentFuzzy}, '%')
		</if>
		<if test="query.sendTimeStart != null and query.sendTimeStart != '' ">
			<![CDATA[ and send_time >= str_to_date(#{query.sendTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.sendTimeEnd != null and query.sendTimeEnd != '' ">
			<![CDATA[ and send_time < data_sub(str_to_date(#{query.sendTimeEnd}, '%Y-%m-%d'), interval -1 day) ]]>
		</if>
	</sql>
	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>
	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM msg
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
			order by ${query.OrderBy}
		</if>
		<if test="query.simplePage!=null">
			limit #{query.simplePage.start},#{query.simplePage.end}
		</if>
	</select>
	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM msg
		<include refid="query_condition"/>
	</select>
	<!--插入（匹配有值的字段）-->
	<insert id="insert" parameterType="com.jl.project.entity.po.Msg">

		INSERT INTO msg
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.templId != null">
				templ_id,
			</if>
			<if test="bean.title != null">
				title,
			</if>
			<if test="bean.content != null">
				content,
			</if>
			<if test="bean.sendCount != null">
				send_count,
			</if>
			<if test="bean.readCount != null">
				read_count,
			</if>
			<if test="bean.sendTime != null">
				send_time,
			</if>
			<if test="bean.state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.templId != null">
				#{bean.templId},
			</if>
			<if test="bean.title != null">
				#{bean.title},
			</if>
			<if test="bean.content != null">
				#{bean.content},
			</if>
			<if test="bean.sendCount != null">
				#{bean.sendCount},
			</if>
			<if test="bean.readCount != null">
				#{bean.readCount},
			</if>
			<if test="bean.sendTime != null">
				#{bean.sendTime},
			</if>
			<if test="bean.state != null">
				#{bean.state},
			</if>
		</trim>
	</insert>

	<!--插入（匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.jl.project.entity.po.Msg">
		INSERT INTO msg
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.templId != null">
				templ_id,
			</if>
			<if test="bean.title != null">
				title,
			</if>
			<if test="bean.content != null">
				content,
			</if>
			<if test="bean.sendCount != null">
				send_count,
			</if>
			<if test="bean.readCount != null">
				read_count,
			</if>
			<if test="bean.sendTime != null">
				send_time,
			</if>
			<if test="bean.state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.templId != null">
				#{bean.templId},
			</if>
			<if test="bean.title != null">
				#{bean.title},
			</if>
			<if test="bean.content != null">
				#{bean.content},
			</if>
			<if test="bean.sendCount != null">
				#{bean.sendCount},
			</if>
			<if test="bean.readCount != null">
				#{bean.readCount},
			</if>
			<if test="bean.sendTime != null">
				#{bean.sendTime},
			</if>
			<if test="bean.state != null">
				#{bean.state},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.templId != null">
				templ_id= VALUES(templ_id),
			</if>
			<if test="bean.title != null">
				title= VALUES(title),
			</if>
			<if test="bean.content != null">
				content= VALUES(content),
			</if>
			<if test="bean.sendCount != null">
				send_count= VALUES(send_count),
			</if>
			<if test="bean.readCount != null">
				read_count= VALUES(read_count),
			</if>
			<if test="bean.sendTime != null">
				send_time= VALUES(send_time),
			</if>
			<if test="bean.state != null">
				state= VALUES(state),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.jl.project.entity.po.Msg">
		INSERT INTO msg(id,templ_id,title,content,send_count,read_count,send_time,state)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.templId},#{item.title},#{item.content},#{item.sendCount},#{item.readCount},#{item.sendTime},#{item.state})
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.jl.project.entity.po.Msg">
		INSERT INTO 
		msg(id,templ_id,title,content,send_count,read_count,send_time,state)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.templId},#{item.title},#{item.content},#{item.sendCount},#{item.readCount},#{item.sendTime},#{item.state})
		</foreach>
			on DUPLICATE key update id= VALUES(id),templ_id= VALUES(templ_id),title= VALUES(title),content= VALUES(content),send_count= VALUES(send_count),read_count= VALUES(read_count),send_time= VALUES(send_time),state= VALUES(state)
	</insert>


	<!--根据Id查询-->
	<select id="selectById" resultMap="base_result_map">
		select 
		<include refid="base_column_list"/>
		from msg where id=#{id}
	</select>

	<!--根据Id更新-->
	<update id="updateById" parameterType="com.jl.project.entity.po.Msg">
		update msg
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.templId != null">
				templ_id = #{bean.templId},
			</if>
			<if test="bean.title != null">
				title = #{bean.title},
			</if>
			<if test="bean.content != null">
				content = #{bean.content},
			</if>
			<if test="bean.sendCount != null">
				send_count = #{bean.sendCount},
			</if>
			<if test="bean.readCount != null">
				read_count = #{bean.readCount},
			</if>
			<if test="bean.sendTime != null">
				send_time = #{bean.sendTime},
			</if>
			<if test="bean.state != null">
				state = #{bean.state},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--根据Id删除-->
	<delete id="deleteById">
		delete from msg where id=#{id}
	</delete>
</mapper>

