<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.project.mapper.QuAnswerMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.jl.project.entity.po.QuAnswer">
		<!-- ID -->
		<id column="id" property="id"/>
		<!-- 题目ID -->
		<result column="qu_id" property="quId"/>
		<!-- 题目内容 -->
		<result column="content" property="content"/>
		<!-- 是否是答案0:不是1:是 -->
		<result column="is_right" property="isRight"/>
		<!-- 选项分析 -->
		<result column="analysis" property="analysis"/>
		<!-- 选项图片 -->
		<result column="image" property="image"/>
		<!-- 选项标签 -->
		<result column="tag" property="tag"/>
	</resultMap>
	<!--通用查询列-->
	<sql id="base_column_list">
		id,qu_id,content,is_right,analysis,image,tag
	</sql>
	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id != null and query.id!= ''">
			and id = #{query.id}
		</if>
		<if test="query.quId != null and query.quId!= ''">
			and qu_id = #{query.quId}
		</if>
		<if test="query.content != null and query.content!= ''">
			and content = #{query.content}
		</if>
		<if test="query.isRight != null">
			and is_right = #{query.isRight}
		</if>
		<if test="query.analysis != null and query.analysis!= ''">
			and analysis = #{query.analysis}
		</if>
		<if test="query.image != null and query.image!= ''">
			and image = #{query.image}
		</if>
		<if test="query.tag != null and query.tag!= ''">
			and tag = #{query.tag}
		</if>
	</sql>
	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.idFuzzy != null and query.idFuzzy != '' ">
			and id like concat('%', #{query.idFuzzy}, '%')
		</if>
		<if test="query.quIdFuzzy != null and query.quIdFuzzy != '' ">
			and qu_id like concat('%', #{query.quIdFuzzy}, '%')
		</if>
		<if test="query.contentFuzzy != null and query.contentFuzzy != '' ">
			and content like concat('%', #{query.contentFuzzy}, '%')
		</if>
		<if test="query.analysisFuzzy != null and query.analysisFuzzy != '' ">
			and analysis like concat('%', #{query.analysisFuzzy}, '%')
		</if>
		<if test="query.imageFuzzy != null and query.imageFuzzy != '' ">
			and image like concat('%', #{query.imageFuzzy}, '%')
		</if>
		<if test="query.tagFuzzy != null and query.tagFuzzy != '' ">
			and tag like concat('%', #{query.tagFuzzy}, '%')
		</if>
	</sql>
	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>
	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM qu_answer
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
			order by ${query.orderBy} ${query.sequence}
		</if>
		<if test="query.simplePage!=null">
			limit #{query.simplePage.start},#{query.simplePage.end}
		</if>
	</select>
	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM qu_answer
		<include refid="query_condition"/>
	</select>
	<!--插入（匹配有值的字段）-->
	<insert id="insert" parameterType="com.jl.project.entity.po.QuAnswer">

		INSERT INTO qu_answer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.quId != null">
				qu_id,
			</if>
			<if test="bean.content != null">
				content,
			</if>
			<if test="bean.isRight != null">
				is_right,
			</if>
			<if test="bean.analysis != null">
				analysis,
			</if>
			<if test="bean.image != null">
				image,
			</if>
			<if test="bean.tag != null">
				tag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.quId != null">
				#{bean.quId},
			</if>
			<if test="bean.content != null">
				#{bean.content},
			</if>
			<if test="bean.isRight != null">
				#{bean.isRight},
			</if>
			<if test="bean.analysis != null">
				#{bean.analysis},
			</if>
			<if test="bean.image != null">
				#{bean.image},
			</if>
			<if test="bean.tag != null">
				#{bean.tag},
			</if>
		</trim>
	</insert>

	<!--插入（匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.jl.project.entity.po.QuAnswer">
		INSERT INTO qu_answer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.quId != null">
				qu_id,
			</if>
			<if test="bean.content != null">
				content,
			</if>
			<if test="bean.isRight != null">
				is_right,
			</if>
			<if test="bean.analysis != null">
				analysis,
			</if>
			<if test="bean.image != null">
				image,
			</if>
			<if test="bean.tag != null">
				tag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.quId != null">
				#{bean.quId},
			</if>
			<if test="bean.content != null">
				#{bean.content},
			</if>
			<if test="bean.isRight != null">
				#{bean.isRight},
			</if>
			<if test="bean.analysis != null">
				#{bean.analysis},
			</if>
			<if test="bean.image != null">
				#{bean.image},
			</if>
			<if test="bean.tag != null">
				#{bean.tag},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.quId != null">
				qu_id= VALUES(qu_id),
			</if>
			<if test="bean.content != null">
				content= VALUES(content),
			</if>
			<if test="bean.isRight != null">
				is_right= VALUES(is_right),
			</if>
			<if test="bean.analysis != null">
				analysis= VALUES(analysis),
			</if>
			<if test="bean.image != null">
				image= VALUES(image),
			</if>
			<if test="bean.tag != null">
				tag= VALUES(tag),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.jl.project.entity.po.QuAnswer">
		INSERT INTO qu_answer(id,qu_id,content,is_right,analysis,image,tag)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.quId},#{item.content},#{item.isRight},#{item.analysis},#{item.image},#{item.tag})
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.jl.project.entity.po.QuAnswer">
		INSERT INTO 
		qu_answer(id,qu_id,content,is_right,analysis,image,tag)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.quId},#{item.content},#{item.isRight},#{item.analysis},#{item.image},#{item.tag})
		</foreach>
			on DUPLICATE key update id= VALUES(id),qu_id= VALUES(qu_id),content= VALUES(content),is_right= VALUES(is_right),analysis= VALUES(analysis),image= VALUES(image),tag= VALUES(tag)
	</insert>


	<!--根据Id查询-->
	<select id="selectById" resultMap="base_result_map">
		select 
		<include refid="base_column_list"/>
		from qu_answer where id=#{id}
	</select>

	<!--根据Id更新-->
	<update id="updateById" parameterType="com.jl.project.entity.po.QuAnswer">
		update qu_answer
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.quId != null">
				qu_id = #{bean.quId},
			</if>
			<if test="bean.content != null">
				content = #{bean.content},
			</if>
			<if test="bean.isRight != null">
				is_right = #{bean.isRight},
			</if>
			<if test="bean.analysis != null">
				analysis = #{bean.analysis},
			</if>
			<if test="bean.image != null">
				image = #{bean.image},
			</if>
			<if test="bean.tag != null">
				tag = #{bean.tag},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--根据Id删除-->
	<delete id="deleteById">
		delete from qu_answer where id=#{id}
	</delete>
</mapper>

