<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.project.mapper.RoleMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.jl.project.entity.po.Role">
		<!-- ID -->
		<id column="id" property="id"/>
		<!-- 角色名称 -->
		<result column="role_name" property="roleName"/>
		<!-- 备注 -->
		<result column="remark" property="remark"/>
	</resultMap>
	<!--通用查询列-->
	<sql id="base_column_list">
		id,role_name,remark
	</sql>
	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id != null and query.id!= ''">
			and id = #{query.id}
		</if>
		<if test="query.roleName != null and query.roleName!= ''">
			and role_name = #{query.roleName}
		</if>
		<if test="query.remark != null and query.remark!= ''">
			and remark = #{query.remark}
		</if>
	</sql>
	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.idFuzzy != null and query.idFuzzy != '' ">
			and id like concat('%', #{query.idFuzzy}, '%')
		</if>
		<if test="query.roleNameFuzzy != null and query.roleNameFuzzy != '' ">
			and role_name like concat('%', #{query.roleNameFuzzy}, '%')
		</if>
		<if test="query.remarkFuzzy != null and query.remarkFuzzy != '' ">
			and remark like concat('%', #{query.remarkFuzzy}, '%')
		</if>
	</sql>
	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>
	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM role
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
			order by ${query.OrderBy}
		</if>
		<if test="query.simplePage!=null">
			limit #{query.simplePage.start},#{query.simplePage.end}
		</if>
	</select>
	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM role
		<include refid="query_condition"/>
	</select>
	<!--插入（匹配有值的字段）-->
	<insert id="insert" parameterType="com.jl.project.entity.po.Role">

		INSERT INTO role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.roleName != null">
				role_name,
			</if>
			<if test="bean.remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.roleName != null">
				#{bean.roleName},
			</if>
			<if test="bean.remark != null">
				#{bean.remark},
			</if>
		</trim>
	</insert>

	<!--插入（匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.jl.project.entity.po.Role">
		INSERT INTO role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.roleName != null">
				role_name,
			</if>
			<if test="bean.remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.roleName != null">
				#{bean.roleName},
			</if>
			<if test="bean.remark != null">
				#{bean.remark},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.roleName != null">
				role_name= VALUES(role_name),
			</if>
			<if test="bean.remark != null">
				remark= VALUES(remark),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.jl.project.entity.po.Role">
		INSERT INTO role(id,role_name,remark)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.roleName},#{item.remark})
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.jl.project.entity.po.Role">
		INSERT INTO 
		role(id,role_name,remark)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.roleName},#{item.remark})
		</foreach>
			on DUPLICATE key update id= VALUES(id),role_name= VALUES(role_name),remark= VALUES(remark)
	</insert>


	<!--根据Id查询-->
	<select id="selectById" resultMap="base_result_map">
		select 
		<include refid="base_column_list"/>
		from role where id=#{id}
	</select>

	<!--根据Id更新-->
	<update id="updateById" parameterType="com.jl.project.entity.po.Role">
		update role
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.roleName != null">
				role_name = #{bean.roleName},
			</if>
			<if test="bean.remark != null">
				remark = #{bean.remark},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--根据Id删除-->
	<delete id="deleteById">
		delete from role where id=#{id}
	</delete>
</mapper>

