<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.project.mapper.TrainRecordMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.jl.project.entity.po.TrainRecord">
		<!-- ID -->
		<id column="id" property="id"/>
		<!-- 题目ID -->
		<result column="qu_id" property="quId"/>
		<!-- 训练ID -->
		<result column="train_id" property="trainId"/>
		<!-- 回答是否正确 -->
		<result column="is_right" property="isRight"/>
		<!-- 答案ID -->
		<result column="answer_id" property="answerId"/>
		<!-- 是否回答0:未答1:已答 -->
		<result column="answered" property="answered"/>
		<!-- 主观题的答案（预留） -->
		<result column="answer" property="answer"/>
		<!-- 题目的排序 -->
		<result column="sort" property="sort"/>
	</resultMap>
	<!--通用查询列-->
	<sql id="base_column_list">
		id,qu_id,train_id,is_right,answer_id,answered,answer,sort
	</sql>
	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id != null and query.id!= ''">
			and id = #{query.id}
		</if>
		<if test="query.quId != null and query.quId!= ''">
			and qu_id = #{query.quId}
		</if>
		<if test="query.trainId != null and query.trainId!= ''">
			and train_id = #{query.trainId}
		</if>
		<if test="query.isRight != null">
			and is_right = #{query.isRight}
		</if>
		<if test="query.answerId != null and query.answerId!= ''">
			and answer_id = #{query.answerId}
		</if>
		<if test="query.answered != null">
			and answered = #{query.answered}
		</if>
		<if test="query.answer != null and query.answer!= ''">
			and answer = #{query.answer}
		</if>
		<if test="query.sort != null">
			and sort = #{query.sort}
		</if>
	</sql>
	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.idFuzzy != null and query.idFuzzy != '' ">
			and id like concat('%', #{query.idFuzzy}, '%')
		</if>
		<if test="query.quIdFuzzy != null and query.quIdFuzzy != '' ">
			and qu_id like concat('%', #{query.quIdFuzzy}, '%')
		</if>
		<if test="query.trainIdFuzzy != null and query.trainIdFuzzy != '' ">
			and train_id like concat('%', #{query.trainIdFuzzy}, '%')
		</if>
		<if test="query.answerIdFuzzy != null and query.answerIdFuzzy != '' ">
			and answer_id like concat('%', #{query.answerIdFuzzy}, '%')
		</if>
		<if test="query.answerFuzzy != null and query.answerFuzzy != '' ">
			and answer like concat('%', #{query.answerFuzzy}, '%')
		</if>
	</sql>
	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>
	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM train_record
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
			order by ${query.OrderBy}
		</if>
		<if test="query.simplePage!=null">
			limit #{query.simplePage.start},#{query.simplePage.end}
		</if>
	</select>
	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM train_record
		<include refid="query_condition"/>
	</select>
	<!--插入（匹配有值的字段）-->
	<insert id="insert" parameterType="com.jl.project.entity.po.TrainRecord">

		INSERT INTO train_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.quId != null">
				qu_id,
			</if>
			<if test="bean.trainId != null">
				train_id,
			</if>
			<if test="bean.isRight != null">
				is_right,
			</if>
			<if test="bean.answerId != null">
				answer_id,
			</if>
			<if test="bean.answered != null">
				answered,
			</if>
			<if test="bean.answer != null">
				answer,
			</if>
			<if test="bean.sort != null">
				sort,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.quId != null">
				#{bean.quId},
			</if>
			<if test="bean.trainId != null">
				#{bean.trainId},
			</if>
			<if test="bean.isRight != null">
				#{bean.isRight},
			</if>
			<if test="bean.answerId != null">
				#{bean.answerId},
			</if>
			<if test="bean.answered != null">
				#{bean.answered},
			</if>
			<if test="bean.answer != null">
				#{bean.answer},
			</if>
			<if test="bean.sort != null">
				#{bean.sort},
			</if>
		</trim>
	</insert>

	<!--插入（匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.jl.project.entity.po.TrainRecord">
		INSERT INTO train_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.quId != null">
				qu_id,
			</if>
			<if test="bean.trainId != null">
				train_id,
			</if>
			<if test="bean.isRight != null">
				is_right,
			</if>
			<if test="bean.answerId != null">
				answer_id,
			</if>
			<if test="bean.answered != null">
				answered,
			</if>
			<if test="bean.answer != null">
				answer,
			</if>
			<if test="bean.sort != null">
				sort,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.quId != null">
				#{bean.quId},
			</if>
			<if test="bean.trainId != null">
				#{bean.trainId},
			</if>
			<if test="bean.isRight != null">
				#{bean.isRight},
			</if>
			<if test="bean.answerId != null">
				#{bean.answerId},
			</if>
			<if test="bean.answered != null">
				#{bean.answered},
			</if>
			<if test="bean.answer != null">
				#{bean.answer},
			</if>
			<if test="bean.sort != null">
				#{bean.sort},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.quId != null">
				qu_id= VALUES(qu_id),
			</if>
			<if test="bean.trainId != null">
				train_id= VALUES(train_id),
			</if>
			<if test="bean.isRight != null">
				is_right= VALUES(is_right),
			</if>
			<if test="bean.answerId != null">
				answer_id= VALUES(answer_id),
			</if>
			<if test="bean.answered != null">
				answered= VALUES(answered),
			</if>
			<if test="bean.answer != null">
				answer= VALUES(answer),
			</if>
			<if test="bean.sort != null">
				sort= VALUES(sort),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.jl.project.entity.po.TrainRecord">
		INSERT INTO train_record(id,qu_id,train_id,is_right,answer_id,answered,answer,sort)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.quId},#{item.trainId},#{item.isRight},#{item.answerId},#{item.answered},#{item.answer},#{item.sort})
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.jl.project.entity.po.TrainRecord">
		INSERT INTO 
		train_record(id,qu_id,train_id,is_right,answer_id,answered,answer,sort)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.quId},#{item.trainId},#{item.isRight},#{item.answerId},#{item.answered},#{item.answer},#{item.sort})
		</foreach>
			on DUPLICATE key update id= VALUES(id),qu_id= VALUES(qu_id),train_id= VALUES(train_id),is_right= VALUES(is_right),answer_id= VALUES(answer_id),answered= VALUES(answered),answer= VALUES(answer),sort= VALUES(sort)
	</insert>


	<!--根据Id查询-->
	<select id="selectById" resultMap="base_result_map">
		select 
		<include refid="base_column_list"/>
		from train_record where id=#{id}
	</select>

	<!--根据Id更新-->
	<update id="updateById" parameterType="com.jl.project.entity.po.TrainRecord">
		update train_record
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.quId != null">
				qu_id = #{bean.quId},
			</if>
			<if test="bean.trainId != null">
				train_id = #{bean.trainId},
			</if>
			<if test="bean.isRight != null">
				is_right = #{bean.isRight},
			</if>
			<if test="bean.answerId != null">
				answer_id = #{bean.answerId},
			</if>
			<if test="bean.answered != null">
				answered = #{bean.answered},
			</if>
			<if test="bean.answer != null">
				answer = #{bean.answer},
			</if>
			<if test="bean.sort != null">
				sort = #{bean.sort},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--根据Id删除-->
	<delete id="deleteById">
		delete from train_record where id=#{id}
	</delete>


	<!--批量删除未作答的记录-->
	<delete id="deleteNoAnswerRecord">
		delete from train_record where answered=0
	</delete>
</mapper>

