<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.project.mapper.UserMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.jl.project.entity.po.User">
		<!-- ID -->
		<id column="id" property="id"/>
		<!-- 用户名 -->
		<result column="user_name" property="userName"/>
		<!-- 头像 -->
		<result column="avatar" property="avatar"/>
		<!-- 邮箱 -->
		<result column="email" property="email"/>
		<!-- 部门编号 -->
		<result column="dept_code" property="deptCode"/>
		<!-- 部门名称 -->
		<result column="dept_text" property="deptText"/>
		<!-- 状态0:正常1:禁用 -->
		<result column="state" property="state"/>
		<!-- 性别0:女1:男 -->
		<result column="sex" property="sex"/>
		<!-- 手机 -->
		<result column="phone" property="phone"/>
		<!-- 密码 -->
		<result column="password" property="password"/>
		<!-- 盐值 -->
		<result column="salt" property="salt"/>
		<!-- 真实姓名 -->
		<result column="real_name" property="realName"/>
		<!-- 角色 -->
		<result column="role" property="role"/>
		<!-- 创建时间 -->
		<result column="create_time" property="createTime"/>
		<!-- 创建者 -->
		<result column="create_by" property="createBy"/>
		<!-- 更新时间 -->
		<result column="update_time" property="updateTime"/>
		<!-- 更新者 -->
		<result column="update_by" property="updateBy"/>
	</resultMap>
	<!--通用查询列-->
	<sql id="base_column_list">
		id,user_name,avatar,email,dept_code,dept_text,state,sex,phone,password,salt,real_name,role,create_time,create_by,update_time,update_by
	</sql>
	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id != null and query.id!= ''">
			and id = #{query.id}
		</if>
		<if test="query.userName != null and query.userName!= ''">
			and user_name = #{query.userName}
		</if>
		<if test="query.avatar != null and query.avatar!= ''">
			and avatar = #{query.avatar}
		</if>
		<if test="query.email != null and query.email!= ''">
			and email = #{query.email}
		</if>
		<if test="query.deptCode != null and query.deptCode!= ''">
			and dept_code = #{query.deptCode}
		</if>
		<if test="query.deptText != null and query.deptText!= ''">
			and dept_text = #{query.deptText}
		</if>
		<if test="query.state != null">
			and state = #{query.state}
		</if>
		<if test="query.sex != null">
			and sex = #{query.sex}
		</if>
		<if test="query.phone != null and query.phone!= ''">
			and phone = #{query.phone}
		</if>
		<if test="query.password != null and query.password!= ''">
			and password = #{query.password}
		</if>
		<if test="query.salt != null and query.salt!= ''">
			and salt = #{query.salt}
		</if>
		<if test="query.realName != null and query.realName!= ''">
			and real_name = #{query.realName}
		</if>
		<if test="query.role != null and query.role!= ''">
			and role = #{query.role}
		</if>
		<if test="query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query.createBy != null and query.createBy!= ''">
			and create_by = #{query.createBy}
		</if>
		<if test="query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
		<if test="query.updateBy != null and query.updateBy!= ''">
			and update_by = #{query.updateBy}
		</if>
	</sql>
	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.idFuzzy != null and query.idFuzzy != '' ">
			and id like concat('%', #{query.idFuzzy}, '%')
		</if>
		<if test="query.userNameFuzzy != null and query.userNameFuzzy != '' ">
			and user_name like concat('%', #{query.userNameFuzzy}, '%')
		</if>
		<if test="query.avatarFuzzy != null and query.avatarFuzzy != '' ">
			and avatar like concat('%', #{query.avatarFuzzy}, '%')
		</if>
		<if test="query.emailFuzzy != null and query.emailFuzzy != '' ">
			and email like concat('%', #{query.emailFuzzy}, '%')
		</if>
		<if test="query.deptCodeFuzzy != null and query.deptCodeFuzzy != '' ">
			and dept_code like concat(#{query.deptCodeFuzzy}, '%')
		</if>
		<if test="query.deptTextFuzzy != null and query.deptTextFuzzy != '' ">
			and dept_text like concat('%', #{query.deptTextFuzzy}, '%')
		</if>
		<if test="query.phoneFuzzy != null and query.phoneFuzzy != '' ">
			and phone like concat('%', #{query.phoneFuzzy}, '%')
		</if>
		<if test="query.passwordFuzzy != null and query.passwordFuzzy != '' ">
			and password like concat('%', #{query.passwordFuzzy}, '%')
		</if>
		<if test="query.saltFuzzy != null and query.saltFuzzy != '' ">
			and salt like concat('%', #{query.saltFuzzy}, '%')
		</if>
		<if test="query.realNameFuzzy != null and query.realNameFuzzy != '' ">
			and real_name like concat('%', #{query.realNameFuzzy}, '%')
		</if>
		<if test="query.roleFuzzy != null and query.roleFuzzy != '' ">
			and role like concat('%', #{query.roleFuzzy}, '%')
		</if>
		<if test="query.createTimeStart != null and query.createTimeStart != '' ">
			<![CDATA[ and create_time >= str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.createTimeEnd != null and query.createTimeEnd != '' ">
			<![CDATA[ and create_time < data_sub(str_to_date(#{query.createTimeEnd}, '%Y-%m-%d'), interval -1 day) ]]>
		</if>
		<if test="query.createByFuzzy != null and query.createByFuzzy != '' ">
			and create_by like concat('%', #{query.createByFuzzy}, '%')
		</if>
		<if test="query.updateTimeStart != null and query.updateTimeStart != '' ">
			<![CDATA[ and update_time >= str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.updateTimeEnd != null and query.updateTimeEnd != '' ">
			<![CDATA[ and update_time < data_sub(str_to_date(#{query.updateTimeEnd}, '%Y-%m-%d'), interval -1 day) ]]>
		</if>
		<if test="query.updateByFuzzy != null and query.updateByFuzzy != '' ">
			and update_by like concat('%', #{query.updateByFuzzy}, '%')
		</if>
	</sql>
	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>
	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM user
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
			order by ${query.OrderBy}
		</if>
		<if test="query.simplePage!=null">
			limit #{query.simplePage.start},#{query.simplePage.end}
		</if>
	</select>
	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM user
		<include refid="query_condition"/>
	</select>
	<!--插入（匹配有值的字段）-->
	<insert id="insert" parameterType="com.jl.project.entity.po.User">

		INSERT INTO user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.userName != null">
				user_name,
			</if>
			<if test="bean.avatar != null">
				avatar,
			</if>
			<if test="bean.email != null">
				email,
			</if>
			<if test="bean.deptCode != null">
				dept_code,
			</if>
			<if test="bean.deptText != null">
				dept_text,
			</if>
			<if test="bean.state != null">
				state,
			</if>
			<if test="bean.sex != null">
				sex,
			</if>
			<if test="bean.phone != null">
				phone,
			</if>
			<if test="bean.password != null">
				password,
			</if>
			<if test="bean.salt != null">
				salt,
			</if>
			<if test="bean.realName != null">
				real_name,
			</if>
			<if test="bean.role != null">
				role,
			</if>
			<if test="bean.createTime != null">
				create_time,
			</if>
			<if test="bean.createBy != null">
				create_by,
			</if>
			<if test="bean.updateTime != null">
				update_time,
			</if>
			<if test="bean.updateBy != null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.userName != null">
				#{bean.userName},
			</if>
			<if test="bean.avatar != null">
				#{bean.avatar},
			</if>
			<if test="bean.email != null">
				#{bean.email},
			</if>
			<if test="bean.deptCode != null">
				#{bean.deptCode},
			</if>
			<if test="bean.deptText != null">
				#{bean.deptText},
			</if>
			<if test="bean.state != null">
				#{bean.state},
			</if>
			<if test="bean.sex != null">
				#{bean.sex},
			</if>
			<if test="bean.phone != null">
				#{bean.phone},
			</if>
			<if test="bean.password != null">
				#{bean.password},
			</if>
			<if test="bean.salt != null">
				#{bean.salt},
			</if>
			<if test="bean.realName != null">
				#{bean.realName},
			</if>
			<if test="bean.role != null">
				#{bean.role},
			</if>
			<if test="bean.createTime != null">
				#{bean.createTime},
			</if>
			<if test="bean.createBy != null">
				#{bean.createBy},
			</if>
			<if test="bean.updateTime != null">
				#{bean.updateTime},
			</if>
			<if test="bean.updateBy != null">
				#{bean.updateBy},
			</if>
		</trim>
	</insert>

	<!--插入（匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.jl.project.entity.po.User">
		INSERT INTO user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.userName != null">
				user_name,
			</if>
			<if test="bean.avatar != null">
				avatar,
			</if>
			<if test="bean.email != null">
				email,
			</if>
			<if test="bean.deptCode != null">
				dept_code,
			</if>
			<if test="bean.deptText != null">
				dept_text,
			</if>
			<if test="bean.state != null">
				state,
			</if>
			<if test="bean.sex != null">
				sex,
			</if>
			<if test="bean.phone != null">
				phone,
			</if>
			<if test="bean.password != null">
				password,
			</if>
			<if test="bean.salt != null">
				salt,
			</if>
			<if test="bean.realName != null">
				real_name,
			</if>
			<if test="bean.role != null">
				role,
			</if>
			<if test="bean.createTime != null">
				create_time,
			</if>
			<if test="bean.createBy != null">
				create_by,
			</if>
			<if test="bean.updateTime != null">
				update_time,
			</if>
			<if test="bean.updateBy != null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.userName != null">
				#{bean.userName},
			</if>
			<if test="bean.avatar != null">
				#{bean.avatar},
			</if>
			<if test="bean.email != null">
				#{bean.email},
			</if>
			<if test="bean.deptCode != null">
				#{bean.deptCode},
			</if>
			<if test="bean.deptText != null">
				#{bean.deptText},
			</if>
			<if test="bean.state != null">
				#{bean.state},
			</if>
			<if test="bean.sex != null">
				#{bean.sex},
			</if>
			<if test="bean.phone != null">
				#{bean.phone},
			</if>
			<if test="bean.password != null">
				#{bean.password},
			</if>
			<if test="bean.salt != null">
				#{bean.salt},
			</if>
			<if test="bean.realName != null">
				#{bean.realName},
			</if>
			<if test="bean.role != null">
				#{bean.role},
			</if>
			<if test="bean.createTime != null">
				#{bean.createTime},
			</if>
			<if test="bean.createBy != null">
				#{bean.createBy},
			</if>
			<if test="bean.updateTime != null">
				#{bean.updateTime},
			</if>
			<if test="bean.updateBy != null">
				#{bean.updateBy},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userName != null">
				user_name= VALUES(user_name),
			</if>
			<if test="bean.avatar != null">
				avatar= VALUES(avatar),
			</if>
			<if test="bean.email != null">
				email= VALUES(email),
			</if>
			<if test="bean.deptCode != null">
				dept_code= VALUES(dept_code),
			</if>
			<if test="bean.deptText != null">
				dept_text= VALUES(dept_text),
			</if>
			<if test="bean.state != null">
				state= VALUES(state),
			</if>
			<if test="bean.sex != null">
				sex= VALUES(sex),
			</if>
			<if test="bean.phone != null">
				phone= VALUES(phone),
			</if>
			<if test="bean.password != null">
				password= VALUES(password),
			</if>
			<if test="bean.salt != null">
				salt= VALUES(salt),
			</if>
			<if test="bean.realName != null">
				real_name= VALUES(real_name),
			</if>
			<if test="bean.role != null">
				role= VALUES(role),
			</if>
			<if test="bean.createTime != null">
				create_time= VALUES(create_time),
			</if>
			<if test="bean.createBy != null">
				create_by= VALUES(create_by),
			</if>
			<if test="bean.updateTime != null">
				update_time= VALUES(update_time),
			</if>
			<if test="bean.updateBy != null">
				update_by= VALUES(update_by),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.jl.project.entity.po.User">
		INSERT INTO user(id,user_name,avatar,email,dept_code,dept_text,state,sex,phone,password,salt,real_name,role,create_time,create_by,update_time,update_by)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.userName},#{item.avatar},#{item.email},#{item.deptCode},#{item.deptText},#{item.state},#{item.sex},#{item.phone},#{item.password},#{item.salt},#{item.realName},#{item.role},#{item.createTime},#{item.createBy},#{item.updateTime},#{item.updateBy})
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.jl.project.entity.po.User">
		INSERT INTO 
		user(id,user_name,avatar,email,dept_code,dept_text,state,sex,phone,password,salt,real_name,role,create_time,create_by,update_time,update_by)values
		<foreach collection="list" item="item" separator=",">
			(#{item.id},#{item.userName},#{item.avatar},#{item.email},#{item.deptCode},#{item.deptText},#{item.state},#{item.sex},#{item.phone},#{item.password},#{item.salt},#{item.realName},#{item.role},#{item.createTime},#{item.createBy},#{item.updateTime},#{item.updateBy})
		</foreach>
			on DUPLICATE key update id= VALUES(id),user_name= VALUES(user_name),avatar= VALUES(avatar),email= VALUES(email),dept_code= VALUES(dept_code),dept_text= VALUES(dept_text),state= VALUES(state),sex= VALUES(sex),phone= VALUES(phone),password= VALUES(password),salt= VALUES(salt),real_name= VALUES(real_name),role= VALUES(role),create_time= VALUES(create_time),create_by= VALUES(create_by),update_time= VALUES(update_time),update_by= VALUES(update_by)
	</insert>


	<!--根据Id查询-->
	<select id="selectById" resultMap="base_result_map">
		select 
		<include refid="base_column_list"/>
		from user where id=#{id}
	</select>

	<!--根据Id更新-->
	<update id="updateById" parameterType="com.jl.project.entity.po.User">
		update user
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.userName != null">
				user_name = #{bean.userName},
			</if>
			<if test="bean.avatar != null">
				avatar = #{bean.avatar},
			</if>
			<if test="bean.email != null">
				email = #{bean.email},
			</if>
			<if test="bean.deptCode != null">
				dept_code = #{bean.deptCode},
			</if>
			<if test="bean.deptText != null">
				dept_text = #{bean.deptText},
			</if>
			<if test="bean.state != null">
				state = #{bean.state},
			</if>
			<if test="bean.sex != null">
				sex = #{bean.sex},
			</if>
			<if test="bean.phone != null">
				phone = #{bean.phone},
			</if>
			<if test="bean.password != null">
				password = #{bean.password},
			</if>
			<if test="bean.salt != null">
				salt = #{bean.salt},
			</if>
			<if test="bean.realName != null">
				real_name = #{bean.realName},
			</if>
			<if test="bean.role != null">
				role = #{bean.role},
			</if>
			<if test="bean.createTime != null">
				create_time = #{bean.createTime},
			</if>
			<if test="bean.createBy != null">
				create_by = #{bean.createBy},
			</if>
			<if test="bean.updateTime != null">
				update_time = #{bean.updateTime},
			</if>
			<if test="bean.updateBy != null">
				update_by = #{bean.updateBy},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--根据Id删除-->
	<delete id="deleteById">
		delete from user where id=#{id}
	</delete>
</mapper>

